.wooden_background{
    -fx-background-image: url("../17_MyShelfie_BGA/misc/sfondo_parquet.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.library_background{
    -fx-background-image: url("../17_MyShelfie_BGA/misc/library_background.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.dark_wooden_background{
    -fx-background-image: url("../17_MyShelfie_BGA/misc/base_pagina2.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.chair{
    -fx-background-image: url("../17_MyShelfie_BGA/misc/firstplayertokenFlipped.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.MyShelfieLogo{
    -fx-background-image: url("../17_MyShelfie_BGA/Publisher_material/Title_2000x618px.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.blackBoard{
    -fx-background-image: url("../17_MyShelfie_BGA/misc/blackboard.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label1{
    -fx-font-size: 25;
    -fx-font-family: "Arial Black";
    -fx-text-fill: BLACK;
}

.label2 {
    -fx-font-size: 15;
    -fx-font-family: "sans-serif";
    -fx-text-fill: BLACK;
}

.label3{
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 24px;
    -fx-padding: 10px;
}

.chat_background {
    -fx-background-image: url("../17_MyShelfie_BGA/misc/chat_background.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.shelfClose {
    -fx-background-image: url("../17_MyShelfie_BGA/misc/shelf_close.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.wooden_label {
    -fx-background-image: url("../17_MyShelfie_BGA/misc/sfondo_parquet.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-font-size: 30;
    -fx-font-family: "Arial Black";
    -fx-text-fill: BLACK;
}

.board{
    -fx-background-image: url("../17_MyShelfie_BGA/boards/livingroom.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.shelf{
    -fx-background-image: url("../17_MyShelfie_BGA/boards/bookshelf.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
