.join_label {
    -fx-font-size: 25;
    -fx-font-family: "Arial Black";
    -fx-text-fill: BLACK;
}

.join_button {
    -fx-background-color: WHITE;
    -fx-font: 16px "Arial Black";
    -fx-padding: 10;
}